<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMU Faculty Recruitment Application Form</title>
    <script defer src="./fill.js"></script>
</head>
<body>
    <%-include("../partials/header") %>
    <br>
    <h1>POST = <%=post%></h1>
    <br>
    <h1>SCHOOL = <%=school%></h1>
    <br>
    <h1>NAME IN FULL = <%=name%></h1>
    <br>
    <%if (gender==1) {%>
        <h1>GENDER = Male</h1>
    <%} else {%>
        <h1>GENDER = Female</h1>
    <%}%>
    <br>
    <%if (marriage==1) {%>
        <h1>MARITIAL STATUS = Single</h1>
    <%} else {%>
        <h1>MARITIAL STATUS = Married</h1>
    <%}%>
    <br>
    <h1>CORRESPONDENCE ADDRESS = <%=correspondence%></h1>
    <br>
    <h1>PERMANENT ADDRESS = <%=permanent%></h1>
</body>
</html>