<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMU Faculty Recruitment Application Form</title>
</head>
<body>
    <%-include("../partials/header") %>
    <br>
    <h1>POST = <%=post%></h1>
    <br>
    <h1>SCHOOL = <%=school%></h1>
    <br>
    <h1>NAME IN FULL = <%=name%></h1>
    <br>
    <h1>GENDER = <%=gender%></h1>
    <br>
    <h1>MARRIAGE = <%marriage%></h1>
    <br>
    <h1>CORRESPONDENCE = <%correspondence%></h1>
    <br>
    <h1>PERMANENT = <%permanent%></h1>
</body>
</html>